<div class="contact-form-component">
  <div class="user-informations">
    <input class="input-form"
           placeholder="Name"
           [(ngModel)]="$userName">

    <input class="input-form"
           placeholder="Email"
           type="email"
           [(ngModel)]="$userMail" />
  </div>
  <div class="user-comment">
    <textarea class="text-form"
              placeholder="Comment"
              [(ngModel)]="$userComment">
    </textarea>
  </div>
  <div class="submit-button">
    Submit

  </div>
</div>
