.contact-form-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .user-informations {
    display: flex;
    flex-wrap: wrap;

    .input-form {
      margin: 0.5em 0.5em 10px;
      padding-left: 15px;
      background: #fff;
      border: none;
      color: #3975EE;
      outline: none;
      min-width: 30ch;
      height: 5ch;
      font-size: 1.2em;
      flex: 1;
      font-family: Roboto;
    }
  }

  .user-comment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-form {
      margin: 0.5em;
      height: 12ch;
      margin-bottom: 10px;
      padding-left: 15px;
      padding-top: 15px;
      background: #fff;
      font-size: 1.2em;
      border: none;
      color: #3975EE;
      width: 100%;
      outline: none;
      resize: none;
      font-family: Roboto;
    }
  }

  .submit-button {
    display: flex;
    width: 11ch;
    height: 5ch;
    color: #dfe3fd;
    margin-top: 2ch;
    font-size: 1.2em;
    background: #91abd1;
    align-items: center;
    font-family: Roboto;
    justify-content: center;
  }
}
