<!--The content below is only a placeholder and can be replaced.-->
<div appMouseWheel
     (mouseWheelUp)="mouseWheelUpFunc()"
     (mouseWheelDown)="mouseWheelDownFunc()"
     (swipeup)="mouseWheelDownFunc()"
     (swipedown)="mouseWheelUpFunc()"
     class="app-container">

  <div class="pages-container">
    <ng-container *ngFor="let page of $pagesConfiguration; let i = index">
      <div #element
           class="page"
           [ngStyle]="{'background': page.pageBg}"
           [ngClass]="{'centered-page': page.center }">

        <div *ngIf="page.type === 'intro'"
             class="app-title">Ukeep</div>
        <!-- <h1> Welcome to {{ page.pageName }}! </h1> -->
        <div *ngIf="page.type === 'contact'"
             class="contact-holder">
          <div class="contact-text"> {{ page.content }} </div>
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </ng-container>

    <div *ngIf="$currentPos !== 0"
         class="back-to-top"
         (click)="$backToTop()">
      <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
