.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .pages-container {
    position: relative;

    .page {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      min-height: 100vh;
      background-size: cover !important;

      .app-title {
        color: #3975EE;
        font-size: 15vh;
        margin-top: 2ch;
        font-family: Oneday;
      }

      .contact-holder {
        display: flex;
        height: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        .contact-text {
          display: flex;
          color: #91abd1;
          font-size: 3.5vh;
          font-family: Roboto;
          margin-bottom: 2ch;
          justify-content: center;
        }
      }
    }

    .centered-page {
      align-items: center;
      justify-content: center;
    }

    .back-to-top {
      position: fixed;
      display: flex;
      bottom: 0;
      right: 0;
      width: 2em;
      height: 2em;
      margin: 2em;
      color: white;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      background-color: #444444;
    }
  }
}
