/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  overflow-x: hidden;

  body {
    position: relative;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
}
@font-face {
  font-family: Oneday;
  src: url("/assets/fonts/Oneday/oneday.otf") format("truetype");
}
